<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension 
			point="org.knime.workbench.repository.nodesets">
		<nodeset 
				expert-flag="false"
				factory-class="org.knime.al.js.nodes.loop.JSLoopNodeSetFactory" 
				id="org.knime.al.js.nodes.loop.JSLoopNodeSetFactory">
		</nodeset>
	</extension>
	<extension 
			point="org.knime.js.core.javascriptComponents">
		<javascriptComponent
				getComponentValue-method-name="getComponentValue"
				implementationBundleID="org.knime.activelearning.js.loopend.bundle"
				init-method-name="init" 
				javascriptComponentID="org.knime.activelearning.js.loopend"
				name="Active Learning JS Loop End View" 
				namespace="knime_al_loopend"
				setValidationError-method-name="setValidationError"
				validate-method-name="validate">
		</javascriptComponent>
	</extension>
	<extension 
			id="org.knime.al.javascript.bundles" 
			name="Active Learn Javascript Bundles"
			point="org.knime.js.core.webResources">
		<webResourceBundle 
				webResourceBundleID="org.knime.activelearning.js.loopend.bundle"
				name="Active Learn Loop End Javascript view" 
				version="0.1" 
				debug="false"
				description="Active Learn Loop End Javascript view">
				<webResource 
						relativePathSource="js-source/org/knime/al/js/nodes/loop/end/"
						relativePathTarget="org/knime/al/js/nodes/loop/end/">
				</webResource>
				<importResource 
						relativePath="org/knime/al/js/nodes/loop/end/loopendview.js"
						type="JAVASCRIPT">
				</importResource>
				<webDependency
				        webResourceBundleID="D3_3.5.5">
				</webDependency>
		</webResourceBundle>
	</extension>
</plugin>
